ocaml/*.cmi
ocaml/*.cmo
ocaml/*.cmx
ocaml/*.cmxs
ocaml/*.cma
ocaml/*.cmxa
ocaml/*.o
ocaml/*.a
ocaml/*.mllib.d
ocaml/*.ml.d
ocaml/*.ml4.d

*.v.d
*.glob
*.vo

*.aux
*.vo.aux

Makefile
*.coc
.merlin

haskell/OUT.hs
haskell/.stack-work
